= form_tag workitem_path(@workitem), :method => 'PUT'  do
  %label 审批意见(最多255个字)
  %br
  %textarea{:name => 'workitem[comments]', :maxlength => 255, :cols => 65, :rows => 5}
  %br
  - @message.each do |m|
    = m
    %br
  - @submit_values.each do |e|
    %button{:type=>'submit', :name => 'workitem[submit]', :value => e}= e 
  = link_to '取消', request.env['HTTP_REFERER']


