<%= stylesheet_link_tag 'jquery-ui-1.11.1/jquery-ui.min.css' %>
<%= javascript_include_tag 'jquery-ui-1.11.1/external/jquery/jquery.js' %>
<%= javascript_include_tag 'jquery-ui-1.11.1/jquery-ui.min.js' %>
<%= javascript_include_tag 'jqueryui-editable', 'pages/xedit' %>

<h1>ui_xedit2</h1>
<a href="#" id="username" data-type="text" data-pk="1" data-url="/post" data-title="Enter username">superuser</a>
