<%= stylesheet_link_tag 'jquery-editable'%>
<%= javascript_include_tag 'jquery.poshytip','jquery-editable-poshytip', 'pages/xedit' %>
<h1>xedit</h1>
<a href="#" id="username" data-type="text" data-pk="1" data-url="/post" data-title="Enter username">superuser</a>
